## Lists

---

In [1]:
# create and print the list

mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [2]:
# Lists allow duplicate values:

mylist = ["apple", "banana", "cherry", "apple", "cherry"]
print(mylist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [3]:
# List Length

mylist = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(mylist))

5

In [4]:
# List Items - Data Types

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [5]:
# A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

## Access List Items

---

In [6]:
# Access Items
# Print the second item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [7]:
# Negative Indexing
# Negative indexing means start from the end

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

# access with positive indexing
print(thislist[2:5])
print(thislist[ :4])
print(thislist[2: ])

# access with negative indexing
print(thislist[-4:-1])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [12]:
# Check if Item Exists
# Check if "apple" is present in the list:

if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Change List Items

---

In [13]:
# Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [14]:
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [15]:
# Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [16]:
# Insert Items
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.
# The insert() method inserts an item at the specified index:

# Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Add List Items

---

In [17]:
# Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [18]:
# The insert() method inserts an item at the specified index:
# Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")

print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [19]:
# Extend List
# To append elements from another list to the current list, use the extend() method.

# Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## Remove List Items

---

In [21]:
# Remove Specified Item
# The remove() method removes the specified item

# Remove "banana"
# If there are more than one item with the specified value, the remove() method removes the first occurrence:
thislist = ["apple", "banana", "cherry", "banana"]
thislist.remove("banana")

print(thislist)

['apple', 'cherry', 'banana']

In [23]:
# Remove Specified Index
# The pop() method removes the specified index.

# Remove the second item:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)

print(thislist)

['apple', 'cherry']

In [24]:
# If you do not specify the index, the pop() method removes the last item.

thislist = ["apple", "banana", "cherry"]
thislist.pop()

print(thislist)

['apple', 'banana']

In [25]:
# The del keyword also removes the specified index:

thislist = ["apple", "banana", "cherry"]
del thislist[0]

print(thislist)

['banana', 'cherry']

In [28]:
# The del Keyword can also delete the list completely.

thislist = ["apple", "banana", "cherry"]
del thislist

 # print(thislist)
 # output will give ERROR

In [29]:
# Clear the List
# The clear() method empties the list.

# The list still remains, but it has no content.

thislist = ["apple", "banana", "cherry"]
thislist.clear()

print(thislist)

[]

## Loop Lists

---

In [30]:
# Loop Through a List
# You can loop through the list items by using a for loop:

# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [31]:
# Loop Through the Index Numbers
# You can also loop through the list items by referring to their index number.

# Use the range() and len() functions to create a suitable iterable.

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [32]:
# Using a While Loop
# You can loop through the list items by using a while loop.

# Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

thislist = ["apple", "banana", "cherry"]

i = 0
while i < len(thislist):
  print(thislist[i])
  i += 1

apple
banana
cherry

In [35]:
# Looping Using List Comprehension
# List Comprehension offers the shortest syntax for looping through lists:

# A short hand for loop that will print all items in a list:

thislist =["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]