## Set

---

In [1]:
# Sets are used to store multiple items in a single variable.
# Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
# A set is a collection which is unordered, unchangeable*, and unindexed.

# create set and print
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [2]:
# Get the Length of a Set

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [3]:
# Set Items - Data Types

# String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)


# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}
{'abc', True, 34, 40, 'male'}

## Access Set Items

---

In [4]:
# Access Items
# You cannot access items in a set by referring to an index or a key.
# But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [5]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [6]:
# Check if "banana" is NOT present in the set:

thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

## Add Set Items

---

In [7]:
# Add Items
# Once a set is created, you cannot change its items, but you can add new items.
# To add one item to a set use the add() method.

# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [8]:
# Add Any Iterable
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

# Add elements of a list to at set:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'kiwi', 'apple', 'cherry', 'banana'}

## Remove Set Items

---

In [9]:
# Remove Item
# To remove an item in a set, use the remove(), or the discard() method.

# Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [10]:
# Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [11]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

## Loop Sets

---

In [12]:
# Loop Items
# You can loop through the set items by using a for loop:

# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

## Join Sets

---

In [14]:
# The union() method returns a new set with all items from both sets.

# Join set1 and set2 into a new set:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

# You can use the | operator instead of the union() method, and you will get the same result.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'c', 1, 2, 3, 'a', 'b'}
{'c', 1, 2, 3, 'a', 'b'}

In [15]:
# Join Multiple Sets
# All the joining methods and operators can be used to join multiple sets.
# When using a method, just add more sets in the parentheses, separated by commas:

# Join multiple sets with the union() method:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'bananas', 'apple', 'c', 'b', 'cherry', 'John', 'a', 'Elena'}

In [16]:
# Update
# The update() method inserts all items from one set into another.
# The update() changes the original set, and does not return a new set.

# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'a', 'b'}

In [17]:
# Difference
# The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

# Keep all items from set1 that are not in set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [18]:
# Symmetric Differences
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.

# Keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'google', 'cherry', 'banana'}