In [2]:
# Create and calling a Function

def myfunc():
  print("Hello from a function")

myfunc()

Hello from a function

In [3]:
# Arguments

def  myfunc(fname):
  print(fname + " Refsnes")

myfunc("Emil")
myfunc("Tobies")
myfunc("Linus")

Emil Refsnes
Tobies Refsnes
Linus Refsnes

In [4]:
# Arguments

def myfunc( fname, lname):
  print(fname + " " + lname)

myfunc("Emil", "Refsnes")

Emil Refsnes

In [5]:
# Keyword Arguments
def myfunc(child3, child2, child1):
  print("The youngest child is " + child3)

myfunc(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [6]:
# Default Parameter Value

def myfunc(country = 'Norway'):
  print("I am from " + country)

myfunc("Sweden")
myfunc("India")
myfunc()
myfunc("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [7]:
# Passing a List as an Argument

def myfunc(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

myfunc(fruits)

apple
banana
cherry

In [8]:
# Return Values

def myfunc(x):
  return 5 * x

print(myfunc(3))
print(myfunc(5))
print(myfunc(9))

15
25
45

## Recursion

---

In [9]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

In [10]:
# factorial

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

number = 5
print(f"The factorial of {number} is {factorial(number)}")

The factorial of 5 is 120