## While Loops

---

In [1]:
# The break Statement- > Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i +=1

1
2
3

In [3]:
# The else Statement -> With the else statement we can run a block of code once when the condition no longer is true:

i = 1
while i < 6:
  print(i)
  i +=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [4]:
# Sum of Numbers

total = 0

while True:
    number = int(input("Enter a number (0 to quit): "))

    if number == 0:
        break

    total += number

print("Total sum:", total)

Enter a number (0 to quit): 1
Enter a number (0 to quit): 10
Enter a number (0 to quit): 7
Enter a number (0 to quit): 6
Enter a number (0 to quit): 5
Enter a number (0 to quit): 5
Enter a number (0 to quit): 5
Enter a number (0 to quit): 5
Enter a number (0 to quit): 5
Enter a number (0 to quit): 5
Enter a number (0 to quit): 0
Total sum: 54

## For Loops

---

In [5]:
# Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [6]:
# Looping Through a String

for x in "banana":
  print(x)

b
a
n
a
n
a

In [7]:
# The break Statement

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [9]:
# The range() Function

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [10]:
# Else in For Loop

for x in range(6):
  print(x)
else:
  print("Finally finished")

0
1
2
3
4
5
Finally finished

## Nested Loops

---

In [12]:
# Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry