Python divides the operators in the following groups:

          Arithmetic operators ( + , - , * , / , % , ** , // )
          Assignment operators ( = , += , -= , *= , /= , %= )
          Comparison operators ( == , != , > , < , >= , <= )
          Logical operators ( and , or , not )
          Identity operators ( is , is not )
          Membership operators( in , in not )
          Bitwise operators ( & , | , ^ , ~ , << , >> )

## Arithmetic operators

---

In [1]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
print(x - y)

x = 5
y = 3
print(x * y)

x = 12
y = 3
print(x / y)

x = 5
y = 2
print(x % y)

x = 5
y = 2
print(x % y)


x = 2
y = 5
print(x ** y)

x = 15
y = 2
print(x // y)

8
2
15
4.0
1
1
32
7

## Assignment operators

---

In [4]:
x = 5
print(x)

x += 3
print(x)

x -= 3
print(x)

x *= 3
print(x)

x /= 3
print(x)

x %= 3
print(x)

x //= 3
print(x)

x **= 3
print(x)

5
8
5
15
5.0
2.0
0.0
0.0

## Comparison operators

---

In [5]:
x = 5
y = 3
print(x == y)

x = 5
y = 3
print(x != y)

x = 5
y = 3
print(x > y)

x = 5
y = 3
print(x < y)

x = 5
y = 3
print(x >= y)

x = 5
y = 3
print(x <= y)

False
True
True
False
True
False

## Logical operators

---

In [6]:
x = 5
print(x > 3 and x < 10)

x = 5
print(x > 3 or x < 4)

x = 5
print(not(x > 3 and x < 10))

True
True
False

## Identity operators

---

In [7]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
# z is the same object as x


print(x is y)
# they have the same content

print(x == y)
# x is equal to y

True
False
True

In [8]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
# z is the same object as x

print(x is not y)
# they have the same content

print(x != y)
# x is equal to y

False
True
False

## Membership operators

---

In [10]:
x = ["apple", "banana"]
print("banana" in x)


x = ["apple", "banana"]
print("pineapple" not in x)

True
True

## Bitwise operators

---

In [11]:
print(6 & 3)

print(6 | 3)

print(6 ^ 3)

print(~3)

print(3 << 2)

print(8 >> 2)

2
7
5
-4
12
2

## Operator Precedence

---

In [12]:
# Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

print((6 + 3) - (6 + 3))

0

In [13]:
# Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:

print(100 + 5 * 3)

115

In [14]:
# Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right:

print(5 + 4 - 7 + 3)

5