# Python Variables

---

In [2]:
## Creating Variables


# A variable is created the moment you first assign a value to it.

x = 5
y = "John"
print(x)
print(y)

5
John

In [3]:
## Casting


# If you want to specify the data type of a variable, this can be done with casting.

x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

In [4]:
## Get the Type

# You can get the data type of a variable with the type() function.

x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [5]:
## Single or Double Quotes?

# String variables can be declared either by using single or double quotes:

x = "John"
print(x)

x = 'John'
print(x)

John
John

## Variable Names

---

In [6]:

## Variable Names

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [7]:
## Multi Words Variable Names

# Camel Case -> Each word, except the first, starts with a capital letter:
myVariableName = "John"
print(myVariableName)

# Pascal Case -> Each word starts with a capital letter:
MyVariableName = "John"
print(MyVariableName)

# Snake Case -> Each word is separated by an underscore character:
my_variable_name = "John"
print(my_variable_name)

John
John
John

## Assign Multiple Values

---

In [8]:
# Python allows you to assign values to multiple variables in one line:

x , y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [11]:
# And you can assign the same value to multiple variables in one line:

x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

In [12]:
# Unpack a Collection
#If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

## Output Variables

---

In [13]:
# The Python print() function is often used to output variables.

x = "Python is awesome"

print(x)

Python is awesome

In [14]:
# In the print() function, you output multiple variables, separated by a comma:

x = "Python"
y = "is"
z = "awesome"

print(x, y, z)

Python is awesome

In [15]:
# You can also use the + operator to output multiple variables:

x = "Python "
y = "is "
z = "awesome"

print(x + y + z)

Python is awesome

## Global Variables

---

In [16]:
# Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [17]:
# Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Pyhton is " + x)

myfunc()

print("Python is " + x)

Pyhton is fantastic
Python is awesome

In [18]:
# If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()
print("Python is " + x)

Python is fantastic

In [19]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic